<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ViewConfiguration" type="Tenaris.Tamsa.LockVerification.Model.Configuration.ViewConfiguration, Tenaris.Tamsa.LockVerification.Model"/>
        <section name="LockVerificationManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
        <section name="log"     type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
        
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tenaris.Tamsa.LockVerification.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
      <!--<add name="Level2" connectionString="Application Name=LockVerification;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
      <!--<add name="Level2" connectionString="Application Name=LockVerification;Data Source=localhost\SQLSERVERDEVELOP;Initial Catalog=Level2_Line2;User ID=Prueba;Password=Notiene12345;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
      <add name="Level2" connectionString="Application Name=LockVerification;Data Source=10.92.23.111;Initial Catalog=Level2_Tubing;User ID=Tesis;Password=Tesis01;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <!--<ViewConfiguration  ApplicationName="LockVerificationView"
                        AreaCode="FAT2_Line2"
                        ConnectionStringName="Level2">
    </ViewConfiguration> Comment-->

  <ViewConfiguration  ApplicationName="LockVerificationView"
                        AreaCode="TMTbFn6"
                        ConnectionStringName="Level2">
  </ViewConfiguration>
  
  <!-- Proxy Configuration -->
  <!--url="tcp://10.93.1.126:9191/Tenaris.Tamsa.LockVerification.Manager.soap"-->
  <!--url="tcp://localhost:9191/Tenaris.Tamsa.Service.Sensors.soap"-->
  <!--<LockVerificationManager
    url="tcp://10.93.1.126:9191/Tenaris.Tamsa.LockVerification.Manager.soap"
    instanceType="Tenaris.Tamsa.LockVerification.Manager.Shared.ILockVerificationManager, Tenaris.Tamsa.LockVerification.Manager.Shared"
    aliveInterval="5000"
    singleInstance="true"
    forumPresent="false"
    validateConnection="false">
    <Redundancy>
    </Redundancy>
  </LockVerificationManager>  Comment-->

  <LockVerificationManager
    url="tcp://127.0.0.1:9191/Tenaris.Tamsa.LockVerification.Manager.soap"
    instanceType="Tenaris.Tamsa.LockVerification.Manager.Shared.ILockVerificationManager, Tenaris.Tamsa.LockVerification.Manager.Shared"
    aliveInterval="5000"
    singleInstance="true"
    forumPresent="false"
    validateConnection="false">
    <Redundancy>
    </Redundancy>
  </LockVerificationManager>
  
  <!-- Remoting configuration -->
  <system.runtime.remoting>
    <application name="View">
      <channels>
        <channel ref="tcp" port="55039">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <!-- Log configuration -->
  
  <log
	 maxFileSize="8096"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
	 logLevel="Debug"
	 traceAttributeLogEnabled="false"
	 logBaseName="Tenaris.Tamsa.SM.Manager.Profile.Host"
	 additionalLogDestination="Console" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    
    <userSettings>
        <Tenaris.Tamsa.LockVerification.View.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value>es-MX</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </Tenaris.Tamsa.LockVerification.View.Properties.Settings>
    </userSettings>
</configuration>